html, body, table, td, tr {
  padding: 0;
  margin: 0;

}

h1 {
  text-align: center;
  margin: 0;
  font-size: 16px;
}
td {
  border: 3px solid black;

}

#field {
  width: 640px;
  height: 640px;
  position: relative;
  margin: 0 auto;
  border: 1px dashed #ccc;
}

.tank {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tank img {
  max-width: 100%;
  max-height: 100%;
}


.tank-direction--left {
}
.tank-direction--top {
  transform: rotate(90deg);
}
.tank-direction--right {
  transform: rotate(180deg);
}
.tank-direction--bottom {
  transform: rotate(270deg);
}

.bullet {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #000;
  border: 1px solid #444;
  border-radius: 50%;
}
